.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--separator);
}

.sizeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.size {
  font-size: var(--step-2);
  font-weight: 600;
  margin: 0;
}

.title {
  color: var(--gray-text);
  text-align: center;
  margin: 0;
}
