.pageContainer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: var(--margin) auto;
  background-color: var(--background);
  overflow: auto;
}

.leftSection {
  flex: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  margin: var(--margin);
}

.registerCard {
  /* Estilos para cada tarjeta de foto */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
  border-radius: 8px; /*  Radio de borde para las esquinas redondeadas */
  overflow: hidden; /*  Oculta el contenido que se desborda de la tarjeta */
  background-color: var(
    --sunlight
  ); /*  Color de fondo, usando tu variable global */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /*  Sombra suave para la tarjeta */
}

.registerImage {
  /* Estilos comunes para las imágenes */
  max-width: 80vw; /* Ancho máximo del 80% del ancho de la ventana */
  max-height: 80vh; /* Altura máxima del 80% de la altura de la ventana */
  height: auto; /*  Altura automática para mantener la proporción */
  object-fit: cover; /*  Asegura que la imagen cubra el contenedor, recortando si es necesario */
  border-radius: 8px; /* Radio de borde para las esquinas redondeadas */
}

.rightSection {
  flex: 1;
  display: block;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: var(--step-4);
  box-sizing: border-box;
}

.logoContainer {
  display: inline-flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre el logo y el texto */
}

.logoImage {
  height: var(--step-4);
  justify-content: center;
  width: auto;
}

.logoText {
  font-size: var(--step-1);
  margin: 0;
}

.registerForm {
  display: block;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.registerForm h2 {
  text-align: center;
  margin-bottom: var(--margin);
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-size: var(--step-3);
  color: var(--earth-sky);
}

.registerForm form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formGroup label {
  font-family: 'Poppins', serif;
  font-size: 12px;
  color: var(--forest);
}

.row {
  display: flex;
  gap: var(--thin-margin);
}

.row .formGroup {
  flex: 1;
}

.registerForm input,
.registerForm select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins', serif;
  background-color: #f9f9f9;
}

.registerForm input:focus,
.registerForm select:focus {
  outline: none;
  border-color: var(--earth-sky);
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); /* Efecto de enfoque */
}

.backButtonContainer {
  margin-bottom: 20px;
  text-align: left;
}

.backButton {
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--earth-sky);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.backButton:hover {
  color: var(--forest);
  transform: scale(1.02);
}

.loginLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-family: 'Poppins', serif;
  font-size: 14px;
  color: var(--earth-sky);
  margin-bottom: 40px;
}

.loginLink a {
  margin-left: 5px;
  color: var(--forest);
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
}

.socialRegister {
  display: flow-root;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', serif;
  font-size: 14px;
  color: var(--forest);
  position: relative;
}

.socialRegister::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--separator);
}

.socialRegister2 {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
    height: auto;
  }

  .leftSection {
    height: 250px;
  }

  .rightSection {
    padding-top: var(--step-3);
  }

  .registerForm {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .leftSection {
    height: 150px; /* Reduce aún más la altura */
  }

  .registerForm h2 {
    font-size: var(--step-2); /* Tamaño ajustado del encabezado */
  }

  input,
  select,
  button {
    font-size: 14px;
    padding: 10px;
  }
}
