.pageContainer {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: var(--margin) auto;
    background-color: var(--sunlight);
    overflow: hidden;
}

.leftSection {
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    margin: var(--margin);
}

.registerCard {
    /* Estilos para cada tarjeta de foto */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    border-radius: 8px; /*  Radio de borde para las esquinas redondeadas */
    overflow: hidden; /*  Oculta el contenido que se desborda de la tarjeta */
    background-color: var(--sunlight); /*  Color de fondo, usando tu variable global */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /*  Sombra suave para la tarjeta */
}

.registerImage {
    /* Estilos comunes para las imágenes */
    max-width: 80vw; /* Ancho máximo del 80% del ancho de la ventana */
    max-height: 80vh; /* Altura máxima del 80% de la altura de la ventana */
    height: auto; /*  Altura automática para mantener la proporción */
    object-fit: cover; /*  Asegura que la imagen cubra el contenedor, recortando si es necesario */
    border-radius: 8px; /* Radio de borde para las esquinas redondeadas */
  }

.rightSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: var(--step-4);
    
}

.registerForm {
    width: 100%;
    padding: var(--step-2);
    align-items: center;
}

.registerForm h2 {
    text-align: center;
    margin-bottom: var(--margin);
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: var(--step-3);
    color: var(--earth-sky);
}

.registerForm form {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formGroup label {
    font-family: 'Poppins', serif;
    font-size: 12px;
    color: var(--forest);
}

.row {
    display: flex;
    gap: 35px;
    margin-bottom: 15px;
}

.row .formGroup {
    flex: 1;
}


.registerForm input,
.registerForm select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', serif;
    background-color: #f9f9f9;
}

.registerForm input:focus,
.registerForm select:focus {
    outline: none;
    border-color: var(--earth-sky);
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); /* Efecto de enfoque */
}



.createAccountButton {
    width: 100%;
    padding: 12px;
    background-color: var(--earth-sky);
    color: var(--sunlight);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', serif;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
}

.createAccountButton:hover {
    transform: scale(1.02);
}

.createAccountButton:active {
    transform: scale(0.98);
}

.backButtonContainer {
    margin-bottom: 20px;
    text-align: left;
}

.backButton {
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--earth-sky);
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.backButton:hover {
    color: var(--forest);
    transform: scale(1.02);
}

.loginLink {
    margin-top: 15px;
    font-family: 'Poppins', serif;
    font-size: 14px;
    color: var(--earth-sky);
}

.loginLink a {
    color: var(--forest);
    text-decoration: none;
}

.loginLink a:hover {
    text-decoration: underline;
}

.socialRegister {
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', serif;
    font-size: 14px;
    color: var(--earth-sky);
}

@media (max-width: 768px) {
    .pageContainer {
        flex-direction: column;
        height: auto;
    }

    .leftSection {
        height: 250px;
    }

    .rightSection {
        padding-top: var(--step-3);
    }

    .registerForm {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .leftSection {
        height: 150px; /* Reduce aún más la altura */
    }

    .registerForm h2 {
        font-size: var(--step-2); /* Tamaño ajustado del encabezado */
    }

    input, select, button {
        font-size: 14px;
        padding: 10px;
    }
}