{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "src/routes/**/*.{js,jsx}",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
