.button {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: var(--step--1);
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--step--2) var(--step-3);
  transition:
    transform 0.1s ease-in-out,
    background-color 0.3s ease;
}

.button:hover {
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.9); /* Scale down the button when clicked */
}
