.titulo,
.parrafos,
.comentario {
  color: #033;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.titulo,
.parrafos {
  margin-left: 15%;
  margin-right: 15%;
}

.comentario {
  margin-left: 20%;
  margin-right: 20%;
}

.contenedorpadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; /* Centra el contenedor horizontalmente */
}

.contenedorhijo1 {
  /* Añadir estilos específicos si es necesario */
}
