.card {
  width: 420px;
}

@media (max-width: 450px) {
  .card {
    width: 100%;
  }
}

.icon {
  transform: scaleX(-1);
  margin: 0 0 10px 10px;
}

.title {
  font-size: var(--step-0);
  color: var(--forest);
  font-weight: 600;
  margin: 0 0 10px 0;
}

.review {
  margin: 0 0 20px 0;
}

.userContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.profile {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.name {
  font-size: var(--step--1);
  font-weight: bold;
  margin: 0;
}
