.container {
  box-sizing: border-box;
  padding: 25px var(--margin);
  width: 100%;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: var(--separator);
  border: none;
  opacity: 0.35;
  width: 100%;
  margin: 16px 0;
}

.generalInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.generalInfo h1 {
  margin: 0;
}

.generalInfo .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.generalInfo .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.infoItem {
  color: var(--forest);
  opacity: 0.75;
  align-items: center;
  gap: 8px;
  font-size: var(--step--1);
  display: flex;
}

.statusBadge {
  color: var(--forest);
  border: 1px solid var(--earth-sky);
  border-radius: 4px;
  padding: 8px 16px;
  display: inline-block;
  font-size: var(--step--2);
}

.price {
  color: var(--unimet);
  font-size: var(--step-2);
  font-weight: 700;
  margin: 0;
}

.images {
  display: flex;
  align-items: stretch;
  gap: 12px;
  width: 100%;
}

.images .left {
  flex: 1;
  height: 550px;
}

.images .right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  height: 550px;
}

.images .left .image {
  height: 100%;
}

.images .right .twoImages {
  height: 100%;
}

.images .right .image {
  height: calc(50% - 6px);
}

.image {
  border-radius: 24px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.image:hover {
  transform: scale(1.01);
}

.description h2 {
  margin: 0;
}

.description p {
  opacity: 0.75;
}

.meetingLocation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.meetingLocation .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.meetingLocation h2 {
  margin: 0;
}

.meetingLocation .button {
  height: 10%;
}

.includes h2 {
  margin-top: 0;
}

.includes .layout {
  display: flex;
  align-items: flex-start;
  gap: 300px;
  padding-left: 5px;
}

.includes .includesGap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reviews h2,
h3 {
  margin: 0;
}

.reviews h3 {
  opacity: 0.75;
  font-size: var(--step--2);
  margin-left: 5px;
}

.reviews .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.reviews .reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews .button {
  padding: 0;
  gap: 5px;
}

@media (max-width: 440px) {
  .images {
    flex-direction: column;
  }

  .images .left {
    height: 350px;
    flex: auto;
  }

  .images .right {
    flex: auto;
    height: 400px;
  }
}

@media (max-width: 585px) {
  .includes .layout {
    gap: 0;
    justify-content: space-between;
  }
}
