.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--separator);
  border-radius: 5px;
  font-family: 'Poppins', serif;
  font-size: var(--step--1);
  box-sizing: border-box;
  color: var(--forest);
}

.inputField::placeholder {
  color: var(--gray-text);
  opacity: 0.35;
}

.inputField:focus {
  outline: none;
}
