.page {
  width: 100%; /*Ocupa todo el ancho de la pantalla*/
  display: flex;
}

@media (max-width: 768px) {
  .page {
      flex-direction: column;
      height: auto;
  }
}

.pageContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  padding: var(--margin);
  gap: 20px;
  background-color: var(--background);
  box-sizing: border-box;
  height: 100vh;
}

@media (max-width: 900px) {
  .contact {
    flex-direction: column;
    height: auto;
  }
}

.imageWrapper {
  display: flex;
}

.customImageStyle {

}

.formWrapper {
  display: block;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--margin);
  box-shadow: 0 0 20px #0000001a;
  box-sizing: border-box;
}

.logoContainer {
  display: inline-flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre el logo y el texto */
}

.logoImage {
  height: var(--step-4);
  justify-content: center;
  width: auto;
}

.logoText {
  font-size: var(--step-1);
  margin: 0;
}

.backButtonContainer {
  text-align: left;
  padding: 0px;
}

.backButton {
  display: inline-flex;
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--earth-sky);
  cursor: pointer;
}

.backButton:hover {
  color: var(--forest);
  transform: scale(1.02);
}

.formSection_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:10px;
}

.formTitle {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-size: var(--step-3);
  color: var(--earth-sky);
  margin: 0;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}