.searchContainer {
  background-color: var(--sunlight);
  border-radius: 16px;
  margin: 24px 0;
  padding: 24px 16px;
  box-shadow: 0 4px 16px #1122110d;
  width: 100%;
  box-sizing: border-box;
}

.searchBox {
  gap: 16px;
  display: flex;
}

.searchInput {
  margin-bottom: 0;
}

@media (width <= 640px) {
  .searchBox {
    flex-direction: column;
  }
}
