.searchContainer {
    background-color: #fff;
    border-radius: 16px;
    margin: 24px 104px;
    padding: 32px 24px;
    box-shadow: 0 4px 16px #1122110d;
  }
  
  .searchBox {
    gap: 16px;
    display: flex;
  }
  
  .searchInput {
    border: 1px solid #79747e;
    border-radius: 4px;
    flex: 1;
    height: 56px;
    padding: 4px 16px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
  }
  
  .searchButton {
    color: #fff;
    cursor: pointer;
    background-color: #00afa0;
    border: none;
    border-radius: 4px;
    width: 56px;
    height: 56px;
  }
  
  @media (width <= 991px) {
    .searchContainer {
      margin: 24px 20px;
    }
  }
  
  @media (width <= 640px) {
    .searchBox {
      flex-direction: column;
    }
  
    .searchButton {
      width: 100%;
    }
  }
  