.card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  min-height: 300px;
  max-height: 350px;
  cursor: pointer;
}

.image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.details {
  flex: 1;
  padding: 24px;
}

.header {
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 16px;
  display: flex;
}

.title {
  color: var(--forest);
  font-size: var(--step-2);
  font-weight: 600;
  margin: 0;
}

.price {
  text-align: right;
  color: var(--forest);
  opacity: 0.75;
  font-size: var(--step--2);
}

.amount {
  color: var(--unimet);
  font-size: var(--step-2);
  font-weight: 700;
}

.info {
  margin-bottom: 24px;
  font-size: var(--step--1); /* Reduced font size */
}

.infoRow {
  justify-content: space-between;
  margin-bottom: 12px;
  display: flex;
}

.infoItem {
  color: #033;
  opacity: 0.75;
  align-items: center;
  gap: 8px;
  font-family: 'Poppins', serif;
  font-size: var(--step--1); /* Reduced font size */
  display: flex;
}

.statusRow {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.statusBadge {
  color: var(--forest);
  border: 1px solid var(--earth-sky);
  border-radius: 4px;
  padding: 8px 16px;
  font-family: 'Poppins', serif;
  font-size: var(--step--2);
}

.divider {
  opacity: 0.25;
  background-color: var(--separator);
  height: 1px;
  margin: 32px 0;
  border: none;
}

.detailsButton {
  color: #fff;
  cursor: pointer;
  background-color: var(--earth-sky);
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-family: 'Poppins', serif;
  font-size: var(--step--1);
}

@media (width <= 991px) {
  .card {
    flex-direction: column;
    min-height: auto;
    max-height: 500px;
  }

  .image {
    width: 100%;
    height: 300px;
  }
}

@media (width <= 640px) {
  .card {
    max-height: 600px;
  }

  .details {
    padding: 16px;
  }

  .info {
    flex-direction: column;
    gap: 16px;
  }

  .infoRow {
    flex-direction: column;
    gap: 8px;
  }

  .statusRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
