.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  background-color: #003333;
  color: #fff;
  flex-wrap: wrap;
  border-top: 2px solid #ccc;
}

.footer-left {
  flex: 1;
  min-width: 300px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.footer-left .logo {
  max-width: 300px;
  margin-bottom: 15px;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
}

.footer-right {
  flex: 1;
  font-family: 'poppins';
  min-width: 300px;
  text-align: right;
}

.footer-right h4 {
  font-family: 'poppins';
  margin-bottom: 10px;
  font-size: var(--step-1);
  font-weight: bold;
}

.footer-right p {
  font-family: 'poppins';
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.social-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.social-media-icons {
  display: flex;
  margin-left: 10px;
  gap: 10px;
}

.social-media-icons a img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.social-media-icons a img:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    text-align: top;
    margin-bottom: 20px;
  }

  .social-section {
    justify-content: top;
  }

  .social-media-icons {
    margin-left: 0;
  }
}
